/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Roboto';
}
footer a {
  font-family: 'Cantarell';
}
body {
  background-image: url("../images/postits.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
}
body .container .login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 48.4ch;
  height: 55vh;
}
body .container .login i {
  font-size: 4rem;
}
@media (max-width: 767.98px) {
  body .container .login {
    width: 70%;
  }
}
@media (max-height: 400px) {
  body .container .login {
    height: 55vh;
  }
}
body .container .login h1 {
  font-size: 2rem;
}
@media (max-width: 767.98px) {
  body .container .login h1 {
    font-size: 1rem;
  }
}
body .container .login .loginButton {
  color: white;
  background: #008cff;
}
body .container .login .signup {
  color: black;
  background: #b9b9b9;
}
body .container .login a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 7.5vh;
  border-radius: 10px;
  text-decoration: none;
}
body .container .login a:hover {
  opacity: 0.2;
}
body .container .login p {
  border-top: 1px solid grey;
  padding-left: 3%;
  padding-top: 2%;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
@media (max-width: 767.98px) {
  body footer nav {
    width: 100%;
    justify-content: space-around;
    padding-top: 2%;
  }
}
body footer nav a {
  text-decoration: none;
  color: black;
}
body footer nav a:hover {
  opacity: 0.2;
}
body h1 {
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 767.98px) {
  body h1 {
    font-size: 1.5rem;
  }
}
body .aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 95vh;
}
@media (max-width: 767.98px) {
  body .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 200vh;
  }
}
body .aboutContainer .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 30vh;
}
@media (max-width: 767.98px) {
  body .aboutContainer .info {
    width: 100%;
  }
}
body .aboutContainer .info .imgBox {
  height: 30vh;
  width: 30%;
}
body .aboutContainer .info .imgBox img {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
}
body .aboutContainer .info .imgBox h3 {
  text-align: center;
  font-size: 1.3rem;
}
@media (max-width: 767.98px) {
  body .aboutContainer .info .imgBox h3 {
    font-size: 0.75rem;
  }
}
body .aboutContainer .info .infoBox {
  height: 30vh;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 767.98px) {
  body .aboutContainer .info .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-height: 400px) {
  body .aboutContainer .info .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
body .aboutContainer .info .infoBox p {
  height: 2vh;
  width: 80%;
  color: white;
}
@media (max-width: 767.98px) {
  body .aboutContainer .info .infoBox p {
    padding-top: 7%;
  }
}
@media (max-height: 400px) {
  body .aboutContainer .info .infoBox p {
    padding-top: 2%;
  }
}
@media (max-width: 918px) {
  body .aboutContainer .info .infoBox p {
    font-size: 0.75rem;
  }
}
@media (max-width: 767.98px) {
  body .aboutContainer .blank {
    display: none;
  }
}
